<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDCountryPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97F8388F1D7AA5450070C397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97F838AB1D7AA5450070C397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97F838B61D7AA5450070C397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
